@charset "utf-8";


header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    /* outline: 2px solid blue; */
    /* 2. 배경색이 바뀔 때 0.4초 동안 부드럽게 변해라 */

}

.page {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    position: relative;
}


/* brand1 */

#brand1 .first-story {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 3. 로고 박스 (이미지 크기에 맞게 250px로 고정) */
#brand1 .first-story .logo-box {
    width: 250px;
    /* 이미지 너비만큼 */

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* 로고 이미지 (박스에 꽉 채우기) */
.first-story .logo-box .brand-logo {
    display: block;
    width: 100%;
}

/* 4. 텍스트 박스 (하단 50% 영역 고정) */
.first-story .txt-box {
    width: 100%;
    height: 50%;
    background-color: #6a8270;
    position: absolute;
    bottom: 0;
    /* 화면 바닥에 딱 붙임 */
    color: #fff;
    text-align: center;
}

/* 텍스트 내용 전체 중앙 정렬 */
/* h2와 p를 묶어서 중앙에 두기 위해 absolute를 사용합니다 */
.first-story .txt-box .first-title {
    position: absolute;
    width: 100%;
    top: 35%;
    /* 하단 영역 내에서 약간 위쪽 */
    font-family: "Cormorant Garamond", serif;
    font-size: 3.5rem;
    font-weight: 500;
    opacity: 0;
}

.first-story .brand-des {
    position: absolute;
    width: 100%;
    top: 60%;
    /* h2 아래쪽 적당한 위치 */
      font-family: "Noto Serif KR", serif;
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0;
}



/* brand2 */
/* 1. 전체 섹션 배경 설정 */
#brand2 {
    width: 100%;
    height: 100%;
    /* 부모 높이 상속 */
    background: url('../images/brand/history.jpg') center / cover no-repeat;
}

/* 2. 양쪽 100px 여백 가이드 (보여지는 창) */
.slide-inner {
    width: calc(100% - 200px);
    /* 양옆 100px씩 제외 */
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* .slide-wrap의 부모 기준 */
    overflow: hidden;
}

/* 3. 슬라이드 복도 (높이를 카드 높이에 맞춤) */
.slide-wrap {
    width: 5000px;
    height: 450px;
    /* .slide-box의 높이와 일치시킴 */
    position: absolute;
    left: 0;
    /* 화면 세로 중앙에 배치하는 공식 */
    top: 55%;
    /* 피그마 디자인상 헤더 아래쪽에 위치하도록 조정 */
    transform: translateY(-50%);
    /*   outline: 2px solid darkcyan; */
}

/* 4. 개별 슬라이드 카드 */
.slide-box {
    float: left;
    width: 300px;
    height: 450px;
    /* 카드 자체 높이 */
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 30px 20px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.slide-box .slide-des {
    /*   outline: 2px solid salmon; */
}

.slide-box .slide-des .year {
    font-size: 30px;
    font-weight: bold;
    color: #1B3022;
    margin-bottom: 20px;
}

.slide-box .slide-des h3 {
    color: #635A4D;
    font-size: 20px;
    margin-bottom: 10px;

}

.slide-box .slide-des .item-sub {
    font-size: 1.2rem;
    font-weight: 700;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #5E675E;

}

.slide-box .slide-des .b-logo {
    width: 100px;
    /* 기존보다 조금 줄여서 공간 확보 */
    margin: 0 auto;
    /* 이미지 아래 간격도 적절히 */

}

.slide-box .slide-des .item-des {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #5E675E;
}




/* 1. 두 섹션 모두 배경 설정을 각각 해줍니다 */
#brand3,
#brand6 {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

/* brand3, brand6 */
/* 각각의 배경 이미지 경로만 따로 지정 */
#brand3 {
    background-image: url('../images/brand/ritual.jpg');
}

#brand6 {
    background-image: url('../images/brand/ourdesign.jpg');
}

/* 2. 공통된 반투명 텍스트 박스 스타일 */

#brand3 .w-list,  
#brand6 .w-list {
   
   width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    
    text-align: center;

    /* 세로 중앙 정렬 */
    position: absolute;
    top: 60%;
    left: 0;
   
}

#brand3 .w-list {
    height: 200px;
}

#brand6 .w-list {
    height: 300px;
}


.b-tit {
    font-family: "Cormorant Garamond", serif;
    font-size: 34px;
    font-weight: 700;
    color: #4A3728;
    margin-bottom: 15px;
    
}

.b-sub {
    margin: 0;
    font-size: 22px;
    color: #7D8471;
    font-weight: 500;
    font-family: "Noto Serif KR", serif;
    margin-bottom: 30px;
    
}

.b-desc {
    margin: 0;
    font-size: 20px;
    line-height: 1.8;
    color: #8B8673;
    font-weight: 500;
    word-break: keep-all;
    
}




/* 텍스트 박스 기본 설정 (왼쪽) */
.page .half-box {
    width: 50%;
    height: 100%;
    position: relative;
}

.page .half-box .h-list {
    position: absolute;
    top: 50%;

    /* 1. 왼쪽 여백 */
    left: 14%;

    /* 2. 너비도 %로 맞춥니다. (left가 10%라면 너비는 최대 80~85% 정도가 안전함) */
    /* 100%를 주면 안 됩니다! 여백만큼 튀어나가게 됩니다. */
    width: 80%;
    transform: translateY(-50%);
    z-index: 10;
}


.half-imgbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

}

.half-imgbox img {
    width: 100%;
    height: 100%;
    /* 추가: 부모 박스(.half-imgbox) 높이를 100% 다 채웁니다 */

}


#brand5 .half-box {
    position: absolute;
    right: 0;
    top: 0;
}

#brand5 .half-box .h-list {
    width: 80%;
    /* 너비를 제한해서 왼쪽 이미지 영역을 침범하지 못하게 합니다 */
}





/* [개별] brand5의 이미지는 왼쪽으로 이동 */
#brand5 .half-imgbox {
    left: 0;
    /* 왼쪽 끝에 밀착 */
}


#brand5 .half-imgbox img {
    width: 100%;

}