@charset "utf-8";

/* fragrance */


main .research-section {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 100px;
}

.research-section .content-wrapper {
    height: 500px;
    /*  이미지의 높이가 원래 500px 이라서 고정의 값을 줌 */

    width: 100%;
}

.research-section .content-wrapper .text-area {

    width: 50%;
    height: 100%;
    padding: 150px 0;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.content-wrapper .text-area h2 {
    margin-bottom: 20px;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    color: #1B3322;
}

.content-wrapper .text-area p {
    line-height: 2rem;
    font-size: 18px;
      
}

.research-section .content-wrapper .image-area {
    width: 50%;
    height: 100%;
    float: left;
}

.content-wrapper .image-area img {
    width: 100%;
    height: 100%;
    display: block;
}

.tabmenu {
    width: 100%;
    margin-bottom: 80px;
}

.tabmenu ul::after {
    content: "";
    display: block;
    clear: both;
}

.tabmenu ul li {
    /* 1. 정확히 절반씩 나누기 */
    width: 50%;
    float: left;
    /* 가로로 나열하기 위해 사용 */
    text-align: center;
    /* outline: 2px solid pink; */

}

.tabmenu ul li a {
    /* 1. block 대신 inline-block을 써서 글자 크기만큼만 영역을 갖게 함 */
    display: inline-block;
    font-size: 26px;
    text-decoration: none;
    color: #999;
    border-bottom: 3px solid transparent;
}

/* 3. 선택된 메뉴(on)의 a 태그에만 선 색상을 줌 */
.tabmenu ul li.on a {
    color: #5E675E;
    font-weight: bold;
    border-bottom: 2px solid #5E675E;
    /* 글자 길이만큼만 선이 생김 */
}




.all-box {
    /* background-color: aquamarine; */
    margin-bottom: 150px;
}


/* 1. 일단 모든 박스를 안 보이게 숨깁니다. */
.all-box>div {
    display: none;
}

/* 2. 그중에서 .on 클래스가 붙은 박스만 보이게 합니다. */
/* 이때 <div>는 원래 블록 요소이지만, 
   위에서 display: none으로 죽여놨기 때문에 다시 살려내기 위해 
   display: block을 명시해 주는 것입니다. */
.all-box>div.on {
    display: block;
}

/* **********************box1**************************************** */
#box1 {
    width: 100%;
    position: relative;
    /* 버튼 배치의 새로운 기준점 */
    box-sizing: border-box;
}



.all-box .con1 .sig-collection {
    text-align: center;
    /*  outline: 2px solid tomato; */
}

.con1 .sig-collection h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #354230;
}

.con1 .sig-collection p {
    font-size: 20px;
    font-family: "Noto Serif KR", serif;
    color: #4F4A45;
}

#box1 .btn-group a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

#box1 .btn-group .prev {
    left: -60px;
}

/* appear 박스 바깥 왼쪽에 배치 */
#box1 .btn-group .next {
    right: -60px;
}

/* appear 박스 바깥 오른쪽에 배치 */

#box1 .btn-group img {
    width: 27px;
}


/* 창문 역할 */
.con1 .appear {
    width: 100%;
    overflow: hidden;

}







/* 기차 몸통 (가로로 긴 판) */
.appear .slider-track {
    width: 300%;
    /* 슬라이드 3개니까 300% */
    /* float을 쓰면 부모가 높이를 못 잡을 수 있어서 clear를 해줘야 합니다 */
}

.appear .slider-track::after {
    content: "";
    display: block;
    clear: both;
}

/* 기차 한 칸 (개별 슬라이드) */
.appear .slider-track .slide {
    width: 33.333333%;
    /* 300% 트랙의 1/3이므로 화면에 100%로 보임 */
    float: left;
    /* 왼쪽으로 나란히 정렬 */
    box-sizing: border-box;
    /* 패딩이 있어도 너비가 깨지지 않게 방어 */
    background-color: #fff;
    margin-top: 40px;
    /* padding-left: 30px; */

}


.slide .upbox-wrap::after {
    content: "";
    display: block;
    clear: both;
}


/* 1. 이미지를 감싸는 박스의 크기를 제한 */
.slide .upbox-wrap .img-upbox {
    width: 700px;
    /* 원하는 가로 크기로 조절하세요 */
    margin-right: 100px;
    float: left;



}


/* 부모 컨테이너 */
.upbox-wrap {
    width: 100%;
    position: relative;
    /* 자식인 info-wrap의 absolute 기준 */
    margin-bottom: 50px;
}

/* 1. float 해제 (float-after) */
.upbox-wrap::after {
    content: "";
    display: block;
    clear: both;
}



.upbox-wrap .img-upbox img {
    width: 100%;
    /* 박스 너비에 꽉 차게 */
    height: auto;
    display: block;
}

/* 3. 설명 박스  */
.upbox-wrap .info-wrap {
    position: absolute;
    top: 50%;
    /* 이미지 높이의 중간 */
    left: 48%;
    /* 이미지(40%) + 여백(8%) = 48% 지점에서 시작 */
    transform: translateY(-50%);
    /* 정확한 수직 중앙 보정 */


    /* 설명글 영역 너비 */
    /* box-sizing: border-box; */

    /*  outline: 2px solid blue; */
    width: 50%;
}

.upbox-wrap .info-wrap .product-text {
    /* outline: 2px solid red; */
    margin-bottom: 60px;
}


.info-wrap .product-text h3 {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    margin-bottom: 20px;
    color: #222222;
    letter-spacing: 0.1em;
}

.info-wrap .product-text .summary {
    font-size: 1.4rem;
    margin-bottom: 18px;

    font-weight: 500;
    letter-spacing: -0.05em;
    color: #767676;
}

.info-wrap .product-text .description {
    font-size: 1.2rem;
    /* margin-bottom: 40px; */
    color: #4A4A4A;
    font-weight: 400;
    line-height: 2rem;
    /* font-family: "Noto Serif KR", serif; */
}

.info-wrap .product-status {
    /* outline: 2px solid tomato;  */
    /* 영역 확인용 */
    width: 100%;
    position: relative;

    box-sizing: border-box;
}

.info-wrap .product-status::after {
    content: "";
    display: block;
    clear: both;
}

/* Season 박스 */
.product-status .status-item {
    float: left;
    width: 40%;
    /* 50%에서 40%로 줄여서 옆 박스 공간 확보 */
    margin-right: 5%;
    /* 고정px 대신 %로 주는 것이 안전합니다 */
    position: relative;
    /* 화살표의 기준점 */
}

.product-status .status-item h4 {
    font-size: 18px;
    margin-bottom: 14px;
}


/* Character 박스 (추가) */
.product-status .character-item {
    float: left;
    width: 50%;
    /* 40(시즌) + 5(여백) + 50(캐릭터) = 95%로 안전하게 배치 */
}

.product-status .character-item h4 {
    font-size: 18px;
    margin-bottom: 14px;
}

.product-status .character-item p {
    font-size: 18px;
    color: #4A4A4A;
}

.season-gauge {}

/* 계절 라벨 간격 벌리기 */
.season-labels {
    list-style: none;
    padding: 0;
    margin: 8px 0 20px 0;
    /* 아래 마진을 30px로 키워 선과 벌림 */
    width: 100%;

}



.season-labels li {
    float: left;
    width: 25%;
    font-size: 16px;
    color: #333;
    text-align: center;
    position: relative;
    /* 가상요소 원의 기준점 */
}

/* 원(포인터) 디자인 */
.season-labels li.see::after {
    content: "";
    position: absolute;
    /* li 내부 글자 아래에서 gauge-line까지의 거리를 조절하세요 */
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    /* 정확한 중앙 정렬 */
    width: 10px;
    height: 10px;
    background-color: #1B3322;
    /* 강조색 */
    border-radius: 50%;
    z-index: 10;
}

/* 막대기 위치 */
.gauge-line {
    position: relative;
    width: 100%;
    height: 1px;
    background: #999;

}

.downbox-wrap {
    /*   outline: 2px solid red; */

    width: 100%;
    position: relative;
    /* 자식 .scent-notes의 기준점 */

}

.downbox-wrap::after {
    content: "";
    clear: both;
    display: block;
}

.downbox-wrap .img-downbox {
    float: left;
    width: 700px;
    margin-right: 100px;

}


.downbox-wrap .img-downbox img {
    width: 100%;
    display: block;
}

/* 오른쪽 텍스트 박스: 수직 중앙 정렬 적용 */
.downbox-wrap .scent-notes {
    position: absolute;
    top: 50%;
    /* 부모 높이의 50% 지점으로 이동 */
    left: 48%;
    transform: translateY(-50%);
    /* 위에서 배운 대로 자기 높이의 절반만큼 보정 */
    width: 50%;
    /* 오른쪽 나머지 절반 차지 */
    /* box-sizing: border-box; */

}


/* 1. 각 줄(Top, Middle, Bottom) 사이의 간격 */
.note-item {
    margin-bottom: 25px;
    /* 줄 사이를 넉넉히 띄움 */
}

.note-item:last-child {
    margin-bottom: 0;
    /* 마지막 줄은 아래 마진 제거 */
}

/* 2. 타이틀(Top 등)의 설정 */
.note-item .note-title {
    display: inline-block;
    /* 마진과 너비를 적용하기 위해 필요 */
    width: 70px;
    /* 타이틀 영역 너비를 고정하면 콜론(:) 위치가 세로로 정렬됨 */
    margin-right: 20px;
    /* 타이틀과 향료 이름 사이의 간격 */
    font-weight: bold;
    color: #333;
    vertical-align: top;
    /* 글자가 길어져서 줄바꿈될 때 상단 기준 정렬 */
}

/* 3. 향료 이름 텍스트 */
.note-item .note-text {
    display: inline-block;
    vertical-align: top;
    color: #666;
    /* width를 안 쓰기로 하셨으므로 글자 길이에 따라 자동으로 늘어남 */
}

/*********************************************** box2
******************************************************************* */
#box2.con2 {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    margin-top: 100px;
   

}

.con2 .frag-intro {
    /*  outline: 2px solid orange; */
   margin-left: 16px;
    
}

.con2 .frag-intro h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 32px;
    margin-bottom: 8px;
    color: #354230;
}

.con2 .frag-intro p {
    color: #4F4A45;
    font-size: 20px;
      font-family: "Noto Serif KR", serif;
}


.con2 .frag-list {
    margin-top: 80px;
}

.con2 .frag-list .frag-item {
    margin-bottom: 110px;
    height: 450px;
   
    /* outline: 2px solid red; */

    position: relative;
}

.frag-item .frag-imgbox {
    width: 50%;
    height: 100%;
    
   
    position: relative;

   display: none;
}

.frag-item .frag-imgbox img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 40px;
}

.frag-item .frag-textbox {
    height: 100%;
    width: 40%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
   

}

/* 짝수번째 */
.frag-item.even .frag-imgbox {
    position: absolute;
    top: 0;
    left: 50%;
    

}

.frag-item.even .frag-textbox {
    right: 57%;
}

.frag-textbox h3 {
    font-size: 32px;
    margin-bottom: 4px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    color: #222222;

}

.frag-textbox .frag-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #555D46;
}

.frag-textbox .frag-main {
    margin-bottom: 14px;

}

.frag-textbox .frag-main strong {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #937D64;
   
}

.frag-textbox .frag-main p {
 
}


.frag-textbox .frag-desc {
    margin-top: 20px;
    font-size: 1.2rem;
    word-break: keep-all;
    color: #4A5548;
    font-weight: 450;
    letter-spacing: 0.01em;
}

.frag-textbox .signature-frag {
    margin-top: 20px;
    color: #9B9B9B;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 1.2rem;
}