@charset "utf-8";

/* fragrance */


main .research-section {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 100px;
}

.research-section .content-wrapper {
    height: 500px;
    /*  이미지의 높이가 원래 500px 이라서 고정의 값을 줌 */
    
    width: 100%;
}

.research-section .content-wrapper .text-area {
    
    width: 50%;
    height: 100%;
    padding: 150px 0;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.content-wrapper .text-area h2 {
    margin-bottom: 20px;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    color: #1B3322;
}

.content-wrapper .text-area p {
    line-height: 2rem;
}

.research-section .content-wrapper .image-area {
    width: 50%;
    height: 100%;
    float: left;
}

.content-wrapper .image-area img {
    width: 100%;
    height: 100%;
    display: block;
}

.tabmenu {
    width: 100%;
    margin-bottom: 50px;
}

.tabmenu ul::after {
    content: "";
    display: block;
    clear: both;
}

.tabmenu ul li {
    /* 1. 정확히 절반씩 나누기 */
    width: 50%;
    float: left;
    /* 가로로 나열하기 위해 사용 */
    text-align: center;
    /* outline: 2px solid pink; */
}

.tabmenu ul li a {
    /* 1. block 대신 inline-block을 써서 글자 크기만큼만 영역을 갖게 함 */
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #999;
    border-bottom: 3px solid transparent;
}

/* 3. 선택된 메뉴(on)의 a 태그에만 선 색상을 줌 */
.tabmenu ul li.on a {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;
    /* 글자 길이만큼만 선이 생김 */
}



.tab-box {
    /* background-color: aquamarine; */
}

.tab-box .con1 .sig-collection {
    text-align: center;
    /*  outline: 2px solid tomato; */
}

.con1 .sig-collection h2 {
    font-size: 30px;
}

.con1 .sig-collection p {}



/* 창문 역할 */
.con1 .appear {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
}







/* 기차 몸통 (가로로 긴 판) */
.appear .slider-track {
    width: 300%;
    /* 슬라이드 3개니까 300% */
    /* float을 쓰면 부모가 높이를 못 잡을 수 있어서 clear를 해줘야 합니다 */
}

.appear .slider-track::after {
    content: "";
    display: block;
    clear: both;
}

/* 기차 한 칸 (개별 슬라이드) */
.appear .slider-track .slide {
    width: 33.3333%;
    /* 300% 트랙의 1/3이므로 화면에 100%로 보임 */
    float: left;
    /* 왼쪽으로 나란히 정렬 */
    box-sizing: border-box;
    /* 패딩이 있어도 너비가 깨지지 않게 방어 */
   /*  background-color: azure; */
    margin-top: 40px;
    padding-left: 30px;

}

.slide .upbox-wrap {

    width: 100%;



}

.slide .upbox-wrap::after {
    content: "";
    display: block;
    clear: both;
}


/* 1. 이미지를 감싸는 박스의 크기를 제한 */
.slide .upbox-wrap .img-upbox {
    width: 700px;
    /* 원하는 가로 크기로 조절하세요 */
    margin-right: 100px;
    float: left;



}


/* 부모 컨테이너 */
.upbox-wrap {
    width: 100%;
    position: relative;
    /* 자식인 info-wrap의 absolute 기준 */
    margin-bottom: 50px;
}

/* 1. float 해제 (float-after) */
.upbox-wrap::after {
    content: "";
    display: block;
    clear: both;
}

/* 2. 이미지 박스 (크기 조절) */
.upbox-wrap .img-upbox {
    width: 40%;
    /* 이미지를 전체의 40%로 줄임 */
    float: left;
    /* 왼쪽 배치 */
}

.upbox-wrap .img-upbox img {
    width: 100%;
    /* 박스 너비에 꽉 차게 */
    height: auto;
    display: block;
}

/* 3. 설명 박스 (수직 중앙 정렬 및 % 배치) */
.upbox-wrap .info-wrap {
    position: absolute;
    top: 50%;
    /* 이미지 높이의 중간 */
    left: 48%;
    /* 이미지(40%) + 여백(8%) = 48% 지점에서 시작 */
    transform: translateY(-50%);
    /* 정확한 수직 중앙 보정 */

    width: 50%;
    /* 설명글 영역 너비 */
    box-sizing: border-box;
}

.upbox-wrap .info-wrap .product-text {
    /* outline: 2px solid red; */
}


.info-wrap .product-text h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.info-wrap .product-text .summary {
    font-size: 1.3rem;
    margin-bottom: 18px;
}

.info-wrap .product-text .description {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.info-wrap .product-status {
    /* outline: 2px solid tomato;  *//* 영역 확인용 */
    width: 100%;
    position: relative;
    
    box-sizing: border-box;
}

.info-wrap .product-status::after {
    content: "";
    display: block;
    clear: both;
}

/* Season 박스 */
.product-status .status-item {
    float: left;
    width: 40%;         /* 50%에서 40%로 줄여서 옆 박스 공간 확보 */
    margin-right: 5%;   /* 고정px 대신 %로 주는 것이 안전합니다 */
    position: relative; /* 화살표의 기준점 */
}

/* Character 박스 (추가) */
.product-status .character-item {
    float: left;
    width: 50%;         /* 40(시즌) + 5(여백) + 50(캐릭터) = 95%로 안전하게 배치 */
}
.season-gauge {
   
}
/* 계절 라벨 간격 벌리기 */
.season-labels {
    list-style: none;
    padding: 0;
    margin: 8px 0 20px 0; /* 아래 마진을 30px로 키워 선과 벌림 */
    width: 100%;
   
}



.season-labels li {
    float: left;
    width: 25%;
    font-size: 16px;
    color: #333;
    text-align: center;
    position: relative; /* 가상요소 원의 기준점 */
}

/* 원(포인터) 디자인 */
.season-labels li.see::after {
    content: "";
    position: absolute;
    /* li 내부 글자 아래에서 gauge-line까지의 거리를 조절하세요 */
    bottom: -26px; 
    left: 50%;
    transform: translateX(-50%); /* 정확한 중앙 정렬 */
    width: 10px;
    height: 10px;
    background-color: #1B3322; /* 강조색 */
    border-radius: 50%;
    z-index: 10;
}

/* 막대기 위치 */
.gauge-line {
    position: relative;   
    width: 100%;
    height: 1px;
    background: #999;
    
}

